
.box{
  height: 200px;
  width: 200px;
  background: red;
}
// Para movil
.products--gird{
  display: flex;
  flex-direction: column;
  div{
    img{
      width: 100%;
      border: black 3px solid ;
      border-radius: 10px;
    }
    h2, p {
      margin: 0;
    }
  }
}

.line-error{
  height: 0;
  border-bottom: 1px solid;
  // Agregamos las caracteristicas si contiene
  // la siguiente clase
  &.invalid{
    border-color: red;
  }
  &.valid{
    border-color: greenyellow;
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2 ifr);
}

.message-error{
  background: red;
  color: white;
  transition: all linear 0.5s;
  // Por defecto no se va aver
  opacity: 0;
  // Si le agregamos la clase invalid
  &.invalid {
    // Cambiamos la opacidad a 1
    opacity: 1;
  }
}

// Tablet
@media screen and (min-width: 40em) {
  .products--gird{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}


// Desktop
@media screen and (min-width: 62em) {
  .products--gird{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}
