
<!-- *ngFor con objetos -->
<h2>*ngFor con objetos</h2>
<div class="products--gird">
  <div *ngFor="let producto of products">
    <img [src]="producto.img" alt="Imagen">
    <h3>{{producto.name}}</h3>
    <p>{{producto.price}}</p>
  </div>
</div>
<hr>

<!-- [ngSwitch] -->
<input type="text" required [(ngModel)]="Person.name">
<div [ngSwitch]="Person.name">
  <p *ngSwitchCase="'nicolas'">
    La persona es {{Person.name}} :)
  </p>
  <p *ngSwitchCase="'pedro'">
    La persona es {{Person.name}} :(
  </p>
  <p *ngSwitchCase="'luis'">
    La persona es {{Person.name}} :(
  </p>
  <p *ngSwitchDefault="">
    No se reconoce su nombre :/
  </p>
</div>

<!-- Ejemplo *ngFor por Yo :v -->

<h2>Lista del mercado</h2>
<input type="text" required [(ngModel)]="newProduct">
<button (click)="addListMer()">Añadir producto </button>

<ul>
  <p>La lista de productos es: </p>
  <li *ngFor="let product of listMerc; index as i">
    {{product}}
    <button (click)="deletListMerc(i)">Elimnar</button>
  </li>
</ul>

<!-- *ngfor
Se va a recorrer el array names,
IMP: El elemento que queremos repetir tenga el
*ngfor -->
<h2> ngFor </h2>
<ul ngModel>
  <li *ngIf="names.length === 0"> La lista esta vacia :( </li>
  <!-- Añadir nombre a el array names -->
  <p> Añadir nombre: </p>

  <input type="text" required [(ngModel)]="newName">
  <button (click)="addName()">Añadir nombre</button>

  <li *ngIf="names.length === 0"> La lista esta vacia :( </li>

  <p>Solo el valor</p>
  <li *ngFor="let name of names; index as i" >
    El nombre es: {{name}}
    <button (click)="deletName(i)">Elminar noombre :(</button>
  </li>
  <p>Posición y valor</p>
  <!-- Obteniendo el indice -->
  <li *ngFor="let name of names; index as posicion" >
    En la posicion {{posicion}} el valor es: {{name}}
  </li>
</ul>

<hr/>

<!-- *ngIf o un if -->
<h2>*ngIf</h2>
<input type="text"required [(ngModel)]="Person.name" />
<p *ngIf="Person.name === 'nicolas' || Person.name === 'pedro' && Person.age === 18;
    else elseBlock" >Soy {{Person.name}}</p>
<!-- else -->
<ng-template #elseBlock >
  <p> Bloque de else</p>
</ng-template>

<hr/>
<!-- Data [(binding)] ng model-->
<h2>Ng model</h2>
<h2>Ng model</h2>
<!-- Habilitar modulo o paquete de formulario en
  app.module.ts -->
<!-- Anterior input
<input type="text" [value]="Person.name" (keyup)="changeName($event)">
-->

<!-- Con Ng model
<input type="text" [(ngModel)]="Person.name" /> -->

<!-- Ver si el valor es valido -->
<!-- Se crea la variable con # y si iguala al ngModel,
  luego se aplican validaciones nativas de HTML como requerid -->
<input type="text" required #inputName="ngModel" [(ngModel)]="Person.name" />
<!-- Miramos la validacion con el metodo .valid -->
<p>Valido: {{ inputName.valid }}</p>

<br/>
<hr>
<!-- Ejemplo con la edad :) -->
<input type="number" min="10" max="18" required #inputAge="ngModel" [(ngModel)]="Person.age" />
<p>Valido: {{ inputAge.valid }}</p>

<br/>


<!-- Leer eventos de un input, cada vez que escriba keyup
<input type="text" [value]="Person.name" (keyup)="changeName($event)">
-->
<P>Su nombre es: {{Person.name}} </P>
<br/>
<br/>

<!-- Otros eventos, event scroll -->
<!-- Le pasamos al metodo onScroll el evento
con el signo $event -->
<div class="box" (scroll)="onScroll($event)">
  <p >
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Quia officiis aliquam error dignissimos recusandae,
    eligendi repudiandae sit minima incidunt delectus.
    Cupiditate ex velit cumque aliquam vitae exercitationem
    quaerat consectetur doloremque.
  </p>
</div>

<!-- Event Binding "Enlace de eventos" -->
<h1>Eventos</h1>
<button [disabled]="bntDisable">Enviar</button>
<button (click)="toggleButton()"> Toogle Button :) </button>
<br/>

<!--Property bingin Con objetos-->
<button (click)="ageMore()"> Edad ++</button>
<p>Edad: {{Person.age}}</p>
<button (click)="ageLees()"> Edad --</button>

<!--Property [binding] “propiedad de elementos HTML”--->
<h1> Propiedades </h1>
<button [disabled] = "bntDisable">Enviar</button>
<input type="text" [value] = "valueInput" >
<hr/>
<h2>¡Hola Mundo en mi primer framework :) !</h2>
<progress max="100" [value]="Person.age"></progress>

<!--String interpolation “Interpolación de cadenas”-->
<br>
<p> {{ " Parrafo repetido :)  ".repeat(5) }}  </p>
<p> La suma de 3 + 3 = {{ 3 + 3}} </p>

<img width="100" [src]="Person.avatar" alt="Imagen_cabezon" >



